* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NotFound.css */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: url("./asset/images//6325254.jpg") no-repeat center center fixed;
  /* Adjust the path if necessary */
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 48px;
  margin: 20px 0;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.back-to-home,
.go-to-home {
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(0, 123, 255, 0.7);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 5px;
}

.back-to-home:hover,
.go-to-home:hover {
  background-color: rgba(0, 123, 255, 1);
}
